<section class="w-full">
    <app-back-home />

    @if(token!=='nequi'){
    <section class="w-full flex flex-col gap-2 md:gap-4">
        <div class="w-full flex flex-col sm:flex-row sm:justify-between gap-2 py-2">
            <app-qr [token]='token' class="sm:w-1/2 w-full" />
            <app-address [token]='token' class="sm:w-1/2"></app-address>
        </div>
        <div class="bg-blue-950 p-2 sm:p-4 md:p-6 rounded">

            <app-info [token]='token' />
        </div>
    </section>
    }@else{
    <app-nequi />
    }
</section>