<div class="flex relative overflow-hidden h-20 sm:h-20 md:h-[6.5rem] items-center justify-between bg-[#301E67] px-4 rounded-xl mt-3">
    <p class="font-semibold sm:text-xl text-base whitespace-nowrap animate-marquee"
        >El primer paso para comenzar a ganar en MetaBox es recargar tu cuenta con al menos 25Mil COP. Puedes ganar aún más mediante misiones y el sistema de referidos, y comprar "Gafas VR" para aumentar beneficios. 
        Además, al registrar a nuevos usuarios, recibirán un bono de bienvenida de 2.500 COP. Puedes recargar desde NEQUI, USDT-TRC20, TRX o PayPal con mínimos específicos.</p>
    <img src="assets/others/family.png" alt="family" class="w-24 sm:w-28 md:w-32 absolute -bottom-[0.500rem] md:-bottom-[0.70rem] right-5">
</div>