.lvl1-grad {
    background: linear-gradient(220.55deg, #39a0ff 0%, #8fff85 100%);
}

.lvl2-grad {
    background: linear-gradient(220.55deg, #ffbb89 0%, #7b6ae0 100%);
}

.lvl3-grad {
    background: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
}

.btn-grad {
    background: linear-gradient(220.55deg, #fadd76 0%, #9f3311 100%);
}