<div class="w-full flex items-center justify-center gap-2 pb-20">
    <section class="w-full flex flex-col items-center">
        <!-- Contenedor para imagen y texto de Nivel 1 -->
        <div class="flex items-center gap-2 mb-2 justify-center">
            <img src="assets/lvl/lvl1.png" alt="Nivel 1" class="w-20">
            <p class="font-semibold text-lg">Lev 1</p>
        </div>
        <article class="flex sm:w-full flex-col px-1 py-2 gap-2 text-center bg-[#32373d75] rounded-xl">
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Registro</p>
                {{lvl1.register}}
            </span>
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Porcentaje de comisión</p>
                8%
            </span>
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Ingresos totales</p>
                {{lvl1.totalIncome}}
            </span>
        </article>
    </section>
    <section class="w-full flex flex-col items-center">
        <!-- Contenedor para imagen y texto de Nivel 2 -->
        <div class="flex items-center gap-2 mb-2 justify-center">
            <img src="assets/lvl/lvl2.png" alt="Nivel 2" class="w-20">
            <p class="font-semibold text-lg">Lev 2</p>
        </div>
        <article class="flex sm:w-full flex-col px-1 py-2 gap-2 text-center bg-[#32373d75] rounded-xl">
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Registro</p>
                {{lvl2.register}}
            </span>
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Porcentaje de comisión</p>
                5%
            </span>
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Ingresos totales</p>
                {{lvl2.totalIncome}}
            </span>
        </article>
    </section>
    <section class="w-full flex flex-col items-center">
        <!-- Contenedor para imagen y texto de Nivel 3 -->
        <div class="flex items-center gap-2 mb-2 justify-center">
            <img src="assets/lvl/lvl3.png" alt="Nivel 3" class="w-20">
            <p class="font-semibold text-lg">Lev 3</p>
        </div>
        <article class="flex sm:w-full flex-col px-1 py-2 gap-2 text-center bg-[#32373d75] rounded-xl">
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Registro</p>
                {{lvl3.register}}
            </span>
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Porcentaje de comisión</p>
                2%
            </span>
            <span class="flex flex-col items-center gap-1">
                <p class="text-xs">Ingresos totales</p>
                {{lvl3.totalIncome}}
            </span>
        </article>
    </section>
</div>
