<section class="w-full py-2 bg-[#0E2954] rounded-xl overflow-hidden flex items-center">
    <button (click)="openModal()" class="bg-[#0E2954] px-3 w-[5%] z-10 flex-shrink-0 left-0">
        <div class="bg-black w-9 py-1 px-2 rounded-xl">
            <img src="assets/icons/announcement.svg" alt="announcement" class="w-10">
        </div>
    </button>
    <p class="text-white whitespace-nowrap animate-marquee">
        Recibe 2,500 COP como regalo de bienvenida, es gratis. Puedes retirar plata sin invertir completando las misiones. MetaBox es un proyecto único y legítimo.
        Puedes comunicarte con atención al cliente mediante "Telegram" utilizando los contactos al final de la página. 
        En nuestro canal de Youtube puedes encontrar tutoriales que te ayudarán a mejorar tu experiencia en MetaBox. 
        La comisión de retiro es de tan solo un 6%. El mínimo de depósito es de 25,000 COP. El mínimo de retiro es de 15,000 COP. 
        Compra ahora gafas VR y aumenta tu rango de ganancias.
    </p>
    <!-- <div class="bg-[#0E2954] text-[#0E2954] px-3 w-2 h-full z-50 flex-shrink-0 right-0">i</div> -->
</section>