<section class="w-full py-2 bg-[#0E2954] rounded-xl overflow-hidden flex items-center">
    <button (click)="openModal()" class="bg-[#0E2954] px-3 w-[5%] z-10 flex-shrink-0 left-0">
        <div class="bg-black w-9 py-1 px-2 rounded-xl">
            <img src="assets/icons/announcement.svg" alt="announcement" class="w-10">
        </div>
    </button>
    <p class="text-white whitespace-nowrap overflow-hidden overflow-ellipsis animate-marquee">
        MetaBox tiene como objetivo cambiar la manera en las que las personas viven y trabajan.
        Actualmente se utiliza en más de 100 países y regiones de todo el mundo. Nuestro objetivo es desarrollar
        servicios de "vida baja en carbono" que ahorren energía y sean más repetuosas con el medioambiente para el
        mundo. Una mejor relación entre las personas y la naturaleza en términos de estilo de vida en general.
    </p>
    <!-- <div class="bg-[#0E2954] text-[#0E2954] px-3 w-2 h-full z-50 flex-shrink-0 right-0">i</div> -->
</section>