<app-back-home />

<div class="w-full flex items-center justify-between bg-blue-950 p-3 rounded-xl">
    <div class="flex flex-col justify-start items-center gap-3 px-1">
        <span>
            <p class="text-gray-400">Plata recargada</p>
            <span class="flex gap-2">
                <p>{{basic}}</p>COP
            </span>
        </span>
        <span class="w-full">
            <p class="text-gray-400">Plata retirada</p>
            <span class="flex gap-2">
                <p>{{retiro}}</p>COP
            </span>
        </span>
    </div>
    <img src="assets/others/account.png" alt="account" class="w-28">
</div>