<section class="w-full">
    <app-back-home />
    <section class="w-full flex flex-col gap-4 pb-10">
        <!-- Contenedor del QR y Address -->
        <div class="w-full flex flex-col sm:flex-row gap-4 py-4">
            <!-- Componente QR -->
            <app-qr 
                [token]="'qr1'" 
                class="w-full sm:w-[300px] sm:h-[300px] md:w-1/2 lg:w-3/4 h-auto mx-auto" 
            />
            <!-- Componente Address -->
            <app-address 
                [token]='token' 
                class="w-full sm:w-1/2 mt-4 sm:mt-0"
            ></app-address>
        </div>
        <!-- Información adicional -->
        <div class="bg-blue-950 p-4 sm:p-6 md:p-8 rounded">
            <app-info [token]='token' />
        </div>
    </section>
</section>

