/* Estilo para el botón activo de "Inicio" */
.active-home {
    font-weight: bold;
    scale: 1.3;
    color: #ffffff; /* Cambia el color si es necesario */
}

/* Estilo para el botón activo de "Artículos" */
.active-article {
    font-weight: bold;
    scale: 1.3;
    color: #ffffff; /* Cambia el color si es necesario */
}

/* Estilo para el botón activo de "Referidos" */
.active-team {
    font-weight: bold;
    scale: 1.3;
    color: #ffffff; /* Cambia el color si es necesario */
}

/* Estilo para el botón activo de "Misiones" */
.active-vip {
    font-weight: bold;
    scale: 1.3;
    color: #ffffff; /* Cambia el color si es necesario */
}

/* Estilo para el botón activo de "Yo" */
.active-me {
    font-weight: bold;
    scale: 1.3;
    color: #ffffff; /* Cambia el color si es necesario */
}
