@if(!isLogined){
    <nav
        class="fixed bottom-0 z-50 w-full flex text-sm font-thin leading-none items-center justify-between box-border py-2 px-5 bg-blue-950 rounded-t-[2rem]">
        <button [routerLink]="['../home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="flex flex-col items-center sm:w-12 w-8">
            <img src="assets/buttons/home.svg" alt="home" class="w-6">
            Inicio
        </button>
        <button [routerLink]="['../tasks']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="flex flex-col items-center sm:w-12 w-8 p-0 m-0">
            <img src="assets/icons/gafas.png" alt="articulos" class="w-10 h-10 p-0 m-0 -mt-2">
            <p class="-mt-2">Artìculos</p>
        </button>
        <button [routerLink]="['../team']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="flex flex-col items-center sm:w-12 w-8">
            <img src="assets/buttons/team.svg" alt="team" class="w-6">
            Referidos
        </button>
        <button [routerLink]="['../vip']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="flex flex-col items-center sm:w-12 w-8">
            <img src="assets/buttons/task.svg" alt="vip" class="w-6">
            Misiones
        </button>
        <button [routerLink]="['../me']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="flex flex-col items-center sm:w-12 w-8">
            <img src="assets/buttons/me.svg" alt="me" class="w-6">
            Yo
        </button>
    </nav>
    }
    