<app-back-home />
<div class="w-[80%] bg-blue-950 flex flex-col items-center justify-center mx-auto px-4 py-2 rounded-xl">
    <button [routerLink]="['/deposit', 'nequi']" class=" w-full flex justify-between items-center border-b-[1px] border-dashed mb-2 py-2">
        <span class="flex items-center gap-2">
            <img src="assets/token/nequi.png" alt="token1" class="w-7">
            Nequi
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button [routerLink]="['/deposit', 'trx']" class=" w-full flex justify-between items-center border-b-[1px] border-dashed mb-2 py-2">
        <span class="flex items-center gap-2">
            <img src="assets/token/trx.webp" alt="token1" class="w-7">
            TRX
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button [routerLink]="['/deposit', 'usdt-trc20']" class=" w-full flex justify-between items-center border-b-[1px] border-dashed mb-2 py-2">
        <span class="flex items-center gap-2">
            <img src="assets/token/usdt-trc20.png" alt="token3" class="w-7">
            USDT-TRC20
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button [routerLink]="['/deposit', 'paypal']" class=" w-full flex justify-between items-center py-2">   
        <span class="flex items-center gap-2">
            <img src="assets/token/paypal.png" alt="token4" class="w-7">
            Paypal
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
</div>