<div class="fixed inset-0 flex items-center justify-center z-50">
    <div class="absolute inset-0 bg-black opacity-50" (click)="close()"></div>
    <div class="w-11/12 bg-blue-950 rounded-lg p-6 z-10">
        <h2 class="text-lg font-bold">Anuncio</h2>
        <p class="mt-2">MetaBox tiene como objetivo cambiar la manera en las que las personas viven y trabajan.
            Actualmente se utiliza en más de 100 países y regiones de todo el mundo. Nuestro objetivo es desarrollar
            servicios de "vida baja en carbono" que ahorren energía y sean más repetuosas con el medioambiente para el
            mundo. Una mejor relación entre las personas y la naturaleza en términos de estilo de vida en general.</p>
        <button (click)="close()" class="mt-4 px-4 py-2 bg-[#301E67] text-white rounded">Cerrar</button>
    </div>
</div>