@if (!isLogined) {
<nav [ngClass]="{
        'bg-blue-950 transition-colors duration-500': !isMeRoute && isScrolled, 
        'bg-transparent transition-colors duration-500': !isMeRoute && !isScrolled
      }" class="fixed top-0 z-20 w-full flex items-center justify-between box-border py-3 px-4">
    <div class="flex items-center gap-2">
        <img src="assets/icons/metabox.png" alt="nequi" class="w-7 rounded-full">
        <p>IndexVerse</p>
    </div>
    <button (click)="toggleModal()" class="flex items-center bg-[#0E2954] rounded-full gap-2 px-3 py-1 text-sm btn-alt">
        <img [src]="address" alt="dailyquest" class="w-4 -mt-1 icono">
        <p>{{text}}</p>
    </button>
</nav>

<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 z-30 flex items-center justify-center bg-black/75">
    <!-- Ventana emergente -->
    <div class="relative bg-transparent ackdrop-blur-sm rounded-lg shadow-lg p-5 w-96 flex flex-col items-center gap-4">
        <!-- Imagen -->
        <img src="assets/new/1.png" alt="Modal Content" class="rounded-lg w-full object-cover">

        <!-- Botón de continuar -->
        <button (click)="GetBonus()"
            class="bg-[#D8B4FE] hover:bg-[#C084FC] text-white px-6 py-2 rounded-lg shadow-md mt-[-20px]">
            Continuar
        </button>
    </div>
</div>
}