
<article *ngIf="token === 'nequi'" class="p-2 sm:p-4 md:p-6">
    <p>1. Realice una captura del código QR mostrado anteriormente.</p>
    <p>2. Abra su app de NEQUI, escane el código QR.</p>
    <p>3. Coloque el monto de la recarga y realice envío.</p>
    <p>4. Copie el código de referencia q le brinda la aplicación NEQUI luego de haber realizado el envío.</p>
    <p>5. Vuelva a IndexVerse, escriba y envié el código de referencia.</p>
    <p>6. Espere, la recarga puede tardar entre 1 minuto y 6 horas.</p>
</article>
<article *ngIf="token === 'paypal'" class="p-2 sm:p-4 md:p-6">
    <p>1. Copie el correo de pago anterior.</p>
    <p>2. Diríjase a su cuenta de PayPal, peque el correo anteriormente copiado.</p>
    <p>3. Indique la cantidad a enviar y realice la recarga</p>
    <p>4. Luego regrese a IndexVerse, haga click en "Recarga completa"</p>
    <p>5. Adjunte una captura de pantalla de su recarga y envié la captura a revisión.</p>
    <p>6. La recarga se refleja en su balance en unos 25 minutos posteriores a enviar la captura a revisión.</p>
</article>
<article *ngIf="token !== 'nequi' && token !== 'paypal'" class="p-2 sm:p-4 md:p-6">
    <p>1. Copie la dirección anterior o escanee el código QR y seleccione la red {{coin}} (TRC20) para recargar {{coin2}}.</p>
    <p>2. No recargue otros activos que no sean {{coin}}(TRC20)-{{coin}}. Recarga Los fondos llegarán a tu cuenta en
        aproximadamente
        5 a 25 minutos.</p>
    <p>3. Luego de realizar la transferencia de los {{coin}} realice una captura de pantalla donde se vea claramente los
        detalles de la transacción.</p>
    <p>4. Dele en "Recarga Completada", luego suba la captura de pantalla y listo.</p>
    <p>5. Si no llega durante mucho tiempo, actualice la página o comuníquese con el servicio de atención al cliente.</p>
</article>
