<article class="p-2 sm:p-4 md:p-6">
    <p>1. Copie la dirección anterior o escanee el código QR y seleccione la red {{coin}} (TRC20) para recargar {{coin2}}.</p>
    <p>2. No recargue otros activos que no sean {{coin}}(TRC20)-{{coin}}. Recarga Los fondos llegarán a tu cuenta en
        aproximadamente
        5 a 25 minutos.</p>
    <p>3. Luego de realizar la transferencia de los {{coin}} realice una captura de pantalla donde se vea claramente los
        detalles de la transacción.</p>
    <p>4. Dele en "Recarga Completada", luego suba la captura de pantalla y listo.</p>
    <p>5. Si no llega durante mucho tiempo, actualice la página o comuníquese con el servicio de atención al cliente.</p>
</article>