<h1 class="text-lg font-semibold">Mantente informado</h1>

<div class="grid grid-cols-3 gap-2 mt-2 font-normal sm:font-semibold text-sm sm:text-xl text-gray-950">
  <div (click)="support()"
    class="flex items-center justify-between col-span-2 bg-slate-200 rounded px-4 sm:px-8 py-2 sm:py-2">
    <img src="assets\social\telegram.svg" alt="telegram" class="w-10 sm:w-20">
    Grupo de apoyo
  </div>
  <div class="flex items-center justify-between bg-slate-200 ounded px-2.5 sm:px-5 py-2 sm:py-2">
    <img src="assets\social\telegram.svg" alt="telegram" class="w-10 sm:w-20">
    Canal
  </div>
  <div (click)="youtube()" class="flex items-center justify-between bg-slate-200 rounded px-2.5 sm:px-5 py-2 sm:py-2">
    <img src="assets\social\youtube.svg" alt="telegram" class="w-10 sm:w-20">
    Canal
  </div>
  <div (click)="client()"
    class="flex items-center justify-between col-span-2 bg-slate-200 rounded px-4 sm:px-8 py-2 sm:py-2">
    <img src="assets\social\telegramchannel.png" alt="telegram2" class="w-16 sm:w-20">
    Atención al cliente
  </div>
</div>