<div class="flex items-center bg-blue-950 mt-7 rounded-xl">
    <button (click)="getMisiones()" class="w-1/2 py-3 rounded-xl"
        [ngClass]="{'bg-[#301E67] shadow-xl font-semibold': misiones}">
        Misiones

    </button>
    <button (click)="getTendencia()" class="w-1/2 py-3 rounded-xl flex items-center justify-center gap-2 relative">
        <span>En tendencia</span>
        <div class="fire">
            🔥
        </div>
    </button>
    <button (click)="getTerminadas()" class="w-1/2 py-3 rounded-xl flex items-center justify-center gap-2">
        <span>Terminadas</span>
    </button>
</div>

<div *ngIf="misiones" class="flex flex-col p-6 gap-4 pb-20">
    <ng-container *ngFor="let i of missions">
        <div class="w-full p-4 rounded-lg bg-blue-950 flex items-center justify-between text-white">
            <!-- Título de la misión a la izquierda -->
            <h3 class="font-bold sm:w-3/4">{{i.title}}</h3>

            <!-- Contenedor para la recompensa centrado -->
            <div class="text-white absolute left-1/2 transform -translate-x-1/2">
                <strong>Recompensa: {{i.reward}} COP</strong>
            </div>

            <!-- Botón al final -->
            <button class="w-1/4 py-3 rounded-lg font-semibold bg-green-500 disabled:bg-gray-500 relative"
                [disabled]="i.progress < i.goal || i.claimed"
                [ngClass]="{'opacity-50': i.progress < i.goal || i.claimed, 'bg-gray-500': i.progress < i.goal || i.claimed}">
                <div *ngIf="i.progress < i.goal && !i.claimed"
                class="absolute top-0 left-0 h-full bg-green-500 transition-all duration-300"
                [style.width.%]="(i.progress/i.goal) * 100"
                style="z-index: 0;">  
                </div>
                <span class="relative z-10" *ngIf="i.progress < i.goal && !i.claimed">Progreso : {{i.progress}}/{{i.goal}}</span>
                <span class="relative z-10" *ngIf="!i.claimed && i.progress === i.goal">Reclamar</span>
                <span class="relative z-10" *ngIf="i.claimed">Reclamado</span>
            </button>
        </div>
    </ng-container>
</div>
<div *ngIf="tendences" class="flex flex-col p-6 gap-4 pb-20">
    <ng-container *ngFor="let i of tendency">
        <div class="w-full p-4 rounded-lg bg-blue-950 flex items-center justify-between text-white">
            <!-- Título de la misión a la izquierda -->
            <h3 class="font-bold sm:w-3/4">{{i.title}}</h3>

            <!-- Contenedor para la recompensa centrado -->
            <div class="text-white absolute left-1/2 transform -translate-x-1/2">
                <strong>Recompensa: {{i.reward}} COP</strong>
            </div>

            <!-- Botón al final -->
            <button class="w-1/4 py-3 rounded-lg font-semibold bg-green-500 disabled:bg-gray-500 relative"
                [disabled]="i.progress < i.goal || i.claimed"
                [ngClass]="{'opacity-50': i.progress < i.goal || i.claimed, 'bg-gray-500': i.progress < i.goal || i.claimed}">
                <div *ngIf="i.progress < i.goal && !i.claimed"
                class="absolute top-0 left-0 h-full bg-green-500 transition-all duration-300"
                [style.width.%]="(i.progress/i.goal) * 100"
                style="z-index: 0;">  
                </div>
                <span class="relative z-10" *ngIf="i.progress < i.goal && !i.claimed">Progreso : {{i.progress}}/{{i.goal}}</span>
                <span class="relative z-10" *ngIf="!i.claimed && i.progress === i.goal">Reclamar</span>
                <span class="relative z-10" *ngIf="i.claimed">Reclamado</span>
            </button>
        </div>
    </ng-container>
</div>


